body {
    overflow-x: hidden;
}
#dev-crud-dashboard .sidebar {
    height: 100vh;
    background-color: white;
    color: black;
    border-right: 1px solid #fff;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
#dev-crud-dashboard .sidebar a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
#dev-crud-dashboard .sidebar a:hover {
    background-color: #019EBE;
    color: white;
}
#dev-crud-dashboard .offcanvas-end {
    width: 250px;
}
#dev-crud-dashboard .dev-crud-profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
table .dev-crud-user-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
img.jahbulonn-logo {
    width: 150px;
    height: 100px;
    object-fit: contain;
}